
.change-password .column-container{
    width:100%;
}

.change-password .column-container .column{
    padding:20px;
    margin:0 auto;
}

.change-password .column-container .column#main-left{
        border-right:1px solid #ccc;
        width:50%;
}
.change-password .column-container .column#main-right{
        width:50%;
}

    .change-password .column-container .column#main-right img {
       position:absolute;
       top:50px;
       width:90%;
    }

.change-password .change-input .column-container{
    margin:0 auto;
    width:100%;

}

.change-password .change-input .column-container .column{
    padding:5px;
}
.change-password .change-input .column-container .column:first-child{
    width:45%;
}
.change-password .change-input .textbox{
    width:75%;
}
.change-password-footer{
    margin-top:10px;
    border-top:1px solid #ddd;
    position:relative;
    width:100%;

}

.change-password .change-password-footer ul.inline-list{
    margin:20px 25px 0 0;
    text-align:right;
}

