
.recover-password .column-container{
    width:100%;
}

.recover-password .column-container .column{
    padding:20px;
    margin:0 auto;
}

.recover-password .column-container .column#main-left{
        border-right:1px solid #ccc;
        width:50%;
}
.recover-password .column-container .column#main-right{
        width:45%;
        text-align:center;
}

    .recover-password .column-container .column#main-right img {
       width:55%;
    }

.recover-password table tr td .change-input .column-container{
    margin:0 auto;
    width:100%;

}
.recover-password table {
    width:100%;
}
.recover-password table tr td .change-input .column-container .column{
    padding:5px;
    width:75%
}
.recover-password table tr td .change-input .column-container .column:first-child{
    width:25%;
}
.recover-password table tr td .change-input .textbox{
    width:85%;
}
.recover-password-footer{
    border-top:1px solid #ddd;
    position:relative;
    width:100%;
    margin:20px 25px 0 0;
    text-align:right;

}
    .recover-password-footer .submit {
        margin:20px 25px 0 0;
        text-align:right;
    }